/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";

@import "mixins", "variables";

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
}

.container-fluid, .row {
    margin: 0;
    padding: 0;
}
