
$background-color: #ffddb0;
$text-color: #000;


.managed-user-container {
  background-color: $background-color;
  color: $text-color;

  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 2rem;

  .data-container {
    width: 50%;
    padding-top: 0.5rem;
    padding-left: 1rem;

    display: flex;
    flex-direction: row;

    .data-item {
      width: 50%;
    }

    .data-item > p{
      font-weight: bolder;
    }

    .extra-padding-top {
      padding-top: 0.5rem;
    }

  }

}


@media screen and (max-width: 768px) {
  .managed-user-container {
    .data-container {
      .data-item {
        width: 100%;
        float: right;
      }
      .extra-padding-top {
        padding-top: 0;
      }
    }
  }

  .checkbox {
    float:right;
    padding-right: 1rem;
  }

}
