<div>
  <div class="row justify-content-center m-2">

    <div class="col-lg-8 mt-2">
      <div>
        <h1>Regisztráció</h1>
        <hr>
        <div class="alert alert-success" *ngIf="success">
          <strong>Sikeres regisztráció!</strong>
        </div>
      </div>

      <div class="mt-3">
        <div [formGroup]="registerForm">
          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="lastName"> Családnév</label>
                <input type="text" class="form-control" id="lastName" name="lastName"
                       formControlName="lastName">
                <div
                  *ngIf="showValidationMessage(registerForm.get('lastName'))">
                  <small class="form-text text-danger" *ngIf="registerForm.get('lastName').errors.required">
                    Családnév kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="firstName"> Keresztnév</label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                       formControlName="firstName">
                <div
                  *ngIf="showValidationMessage(registerForm.get('firstName'))">
                  <small class="form-text text-danger" *ngIf="registerForm.get('firstName').errors.required">
                    Keresztnév kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="email">Email cím</label>
                <input type="email" class="form-control" id="email" name="email"
                       formControlName="email">
                <div
                  *ngIf="showValidationMessage(registerForm.get('email'))">
                  <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required">
                    E-mail cím kitöltése kötelező!
                  </small>
                  <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid">
                    Helytelen e-mail cím!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="confirmEmail">E-mail cím megerősítése</label>
                <input type="email" class="form-control" id="confirmEmail" name="confirmEmail"
                       formControlName="confirmEmail">
                <div
                  *ngIf="showValidationMessage(registerForm.get('confirmEmail'))">
                  <small class="form-text text-danger"
                         *ngIf="registerForm.get('confirmEmail').errors.required">
                    E-mail cím megerősítése kötelező!
                  </small>
                  <small class="form-text text-danger" *ngIf="registerForm.get('confirmEmail').errors.mustMatch">
                    Az e-mail címek nem egyeznek!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="password">Jelszó</label>
                <input type="password" class="form-control" id="password" name="password"
                       formControlName="password" maxlength="50">
                <div
                  *ngIf="showValidationMessage(registerForm.get('password'))">
                  <small class="form-text text-danger"
                         *ngIf="registerForm.get('password').errors.required">
                    Jelszó kitöltése kötelező!
                  </small>
                  <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength">
                    A jelszónak legalább 8 karakterből kell állnia!
                  </small>
                </div>
                <jhi-password-strength-bar
                  [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="confirmPassword">Jelszó megerősítése</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                       formControlName="confirmPassword" maxlength="50">
                <div
                  *ngIf="showValidationMessage(registerForm.get('confirmPassword'))">
                  <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.mustMatch">
                    A két jelszó nem egyezik!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="checkbox-container form-control-label" for="studentStatus">Van hallgatói jogviszonyom
                  <input type="checkbox" formControlName="studentStatus" id="studentStatus" name="studentStatus">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col-lg-6"></div>
          </div>
          <div *ngIf="isStudentStateChecked()" class=" row justify-content-md-center">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="institution">Oktatási intézmény</label>
                <input type="text" class="form-control" id="institution" name="institution"
                       formControlName="institution" maxlength="4">
                <div
                  *ngIf="showValidationMessage(registerForm.get('institution'))">
                  <small class="form-text text-danger" *ngIf="registerForm.get('institution').errors.required">
                    Intézmény kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="faculty">Kar</label>
                <input type="text" class="form-control" id="faculty" name="faculty"
                       formControlName="faculty" maxlength="4">
                <div
                  *ngIf="showValidationMessage(registerForm.get('faculty'))">
                  <small class="form-text text-danger"
                         *ngIf="registerForm.get('faculty').errors.required">
                    Kar kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="checkbox-container form-control-label" for="collegian">Kollégista vagyok
                  <input type="checkbox" formControlName="collegian" id="collegian" name="collegian">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="isCollegianChecked()" class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="roomNumber">Szobaszám</label>
                <input type="number" class="form-control" id="roomNumber" name="roomNumber"
                       formControlName="roomNumber">
                <div
                  *ngIf="showValidationMessage(registerForm.get('roomNumber'))">
                  <small class="form-text text-danger"
                         *ngIf="registerForm.get('roomNumber').errors.required">
                    Szobaszám kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <app-notification-displayer></app-notification-displayer>
          <div class="row justify-content-md-center">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary" (click)="register()"
              >Regisztráció
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
