<div class="row justify-content-center m-4">
  <div class="col-lg-10">


    <div class="row">
      <div class="col-lg-7">

        <div class="alert alert-success" *ngIf="success">
          <strong>Mentés sikeres!</strong>
        </div>

        <div [formGroup]="profileForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="lastName">Családnév</label>
                <input type="text" class="form-control" id="lastName" name="lastName"
                       formControlName="lastName" maxlength="30">
                <div
                  *ngIf="showValidationMessage(profileForm.get('lastName'))">
                  <small class="form-text text-danger" *ngIf="profileForm.get('lastName').errors.required">
                    Családnév kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="firstName">Keresztnév</label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                       formControlName="firstName" maxlength="30">
                <div
                  *ngIf="showValidationMessage(profileForm.get('firstName'))">
                  <small class="form-text text-danger" *ngIf="profileForm.get('firstName').errors.required">
                    Keresztnév kitöltése kötelező!
                  </small>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       formControlName="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="checkbox-container form-control-label" for="studentStatus">Van hallgatói jogviszonyom
                  <input type="checkbox" formControlName="studentStatus" id="studentStatus" name="studentStatus">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="isStudentStateChecked()" class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="institution">Oktatási Intézmény</label>
                <input type="text" class="form-control" id="institution" name="institution"
                       formControlName="institution" maxlength="5">
                <div
                  *ngIf="showValidationMessage(profileForm.get('institution'))">
                  <small class="form-text text-danger" *ngIf="profileForm.get('institution').errors.required">
                    Intézmény kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="faculty">Kar</label>
                <input type="text" class="form-control" id="faculty" name="faculty"
                       formControlName="faculty" maxlength="5">
                <div
                  *ngIf="showValidationMessage(profileForm.get('faculty'))">
                  <small class="form-text text-danger"
                         *ngIf="profileForm.get('faculty').errors.required">
                    Kar kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="checkbox-container form-control-label" for="collegian">Kollégista vagyok
                  <input type="checkbox" formControlName="collegian" id="collegian" name="collegian">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div *ngIf="isCollegianChecked()" class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="roomNumber">Szobaszám</label>
                <input type="number" class="form-control" id="roomNumber" name="roomNumber"
                       formControlName="roomNumber">
                <div
                  *ngIf="showValidationMessage(profileForm.get('roomNumber'))">
                  <small class="form-text text-danger"
                         *ngIf="profileForm.get('roomNumber').errors.required">
                    Szobaszám kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <label class="checkbox-container">Értesítő e-mail küldése edzésekről, melyekre feliratkoztam
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <label class="checkbox-container">Értesítő e-mail küldése frissen kiírt edzésekről
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <label class="checkbox-container">Értesítő e-mail küldése új hírfolyam cikkről
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row mt-2">
            <button type="submit" class="btn btn-primary" (click)="save ()">Mentés</button>
        </div>
      </div>
      <div class="col-lg-3">
        <image-view></image-view>
        <br/>
        <file-upload></file-upload>
      </div>
    </div>
  </div>
</div>
