<div class="row justify-content-center m-4">
  <div class="col-lg-8">

    <h2>Profil</h2>
    <hr>
    <div class="row">
      <div class="col-lg-9">

        <app-notification-displayer></app-notification-displayer>

        <div [formGroup]="profileForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="lastName">Családnév</label>
                <input type="text" class="form-control" id="lastName" name="lastName"
                       formControlName="lastName" maxlength="30">
                <div
                  *ngIf="showValidationMessage(profileForm.get('lastName'))">
                  <small class="form-text text-danger" *ngIf="profileForm.get('lastName').errors.required">
                    Családnév kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="firstName">Keresztnév</label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                       formControlName="firstName" maxlength="30">
                <div
                  *ngIf="showValidationMessage(profileForm.get('firstName'))">
                  <small class="form-text text-danger" *ngIf="profileForm.get('firstName').errors.required">
                    Keresztnév kitöltése kötelező!
                  </small>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       formControlName="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <span>
                   <label class="checkbox bounce">
                  <input type="checkbox" formControlName="studentStatus">
                  <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                  </svg>
                   </label>
                  Van hallgatói jogviszonyom
                  </span>
              </div>
            </div>
          </div>
          <div *ngIf="isStudentStateChecked()" class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="institution">Oktatási Intézmény</label>
                <input type="text" class="form-control" id="institution" name="institution"
                       formControlName="institution" maxlength="5">
                <div
                  *ngIf="showValidationMessage(profileForm.get('institution'))">
                  <small class="form-text text-danger" *ngIf="profileForm.get('institution').errors.required">
                    Intézmény kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="faculty">Kar</label>
                <input type="text" class="form-control" id="faculty" name="faculty"
                       formControlName="faculty" maxlength="5">
                <div
                  *ngIf="showValidationMessage(profileForm.get('faculty'))">
                  <small class="form-text text-danger"
                         *ngIf="profileForm.get('faculty').errors.required">
                    Kar kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <span>
                <label class="checkbox bounce">
                  <input type="checkbox" formControlName="collegian">
                  <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                  </svg>
                </label>
                    Kollégista vagyok
                  </span>
              </div>
            </div>
            <div *ngIf="isCollegianChecked()" class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="roomNumber">Szobaszám</label>
                <input type="number" class="form-control" id="roomNumber" name="roomNumber"
                       formControlName="roomNumber">
                <div
                  *ngIf="showValidationMessage(profileForm.get('roomNumber'))">
                  <small class="form-text text-danger"
                         *ngIf="profileForm.get('roomNumber').errors.required">
                    Szobaszám kitöltése kötelező!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <span>
              <label class="checkbox bounce">
                <input type="checkbox" formControlName="subOnSubscribedTrainings">
                <svg viewBox="0 0 21 21">
                  <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
              </label>
              Értesítő e-mail küldése edzésekről, melyekre feliratkoztam
                </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <span>
              <label class="checkbox bounce">
                <input type="checkbox" formControlName="subOnNewTrainings">
                <svg viewBox="0 0 21 21">
                  <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
              </label>
              Értesítő e-mail küldése új frissen kiírt edzésekről
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <span>
              <label class="checkbox bounce">
                <input type="checkbox" formControlName="subOnNewArticles">
                <svg viewBox="0 0 21 21">
                  <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
              </label>
              Értesítő e-mail küldése új hírfolyam cikkről
                </span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <button type="submit" class="btn btn-primary" (click)="save()">Mentés</button>
        </div>
      </div>
      <div class="col-lg-3">
        <image-view></image-view>
        <br/>
        <file-upload></file-upload>
      </div>
    </div>
  </div>
</div>
