<nav class="navbar navbar-dark navbar-expand-xl">
    <a class="navbar-brand" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"> <img src="assets/logo_white.png" alt="Martos Kondi Kör"></span>
        <span class="navbar-title">Martos Kondi Kör</span>
    </a>
    <button class="navbar-toggler" tabindex="0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="adminMenuButton" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <fa-icon icon="list-ul"></fa-icon>
                        <span>{{ 'HEADER.ADMINISTRATION' | translate }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminMenuButton">
                        <a class="dropdown-item" [routerLink]="['admin', 'management']" (click)="collapseNavbar()">
                            <fa-icon icon="users" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.USER_MANAGEMENT' | translate }}</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="['articles', 'new']" (click)="collapseNavbar()">
                            <fa-icon icon="newspaper" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.WRITE_NEW_ARTICLE' | translate }}</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="['trainings', 'new']" (click)="collapseNavbar()">
                            <fa-icon icon="running" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.NEW_TRAINING' | translate }}</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="['admin', 'mail-sending']" (click)="collapseNavbar()">
                            <fa-icon icon="envelope" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.SEND_EMAIL' | translate }}</span>
                        </a>
                    </div>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" routerLink="about-us" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="users"></fa-icon>
                    <span>{{ 'HEADER.ABOUT_US' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="rules" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="book-open"></fa-icon>
                    <span>{{ 'HEADER.RULES' | translate }}</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="gym-info" (click)="collapseNavbar()">
                    <fa-icon icon="dumbbell"></fa-icon>
                    <span>{{ 'HEADER.GYM' | translate }}</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="nutrition" (click)="collapseNavbar()">
                    <fa-icon icon="drumstick-bite"></fa-icon>
                    <span>{{ 'HEADER.NUTRITION' | translate }}</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="trainings" (click)="collapseNavbar()">
                    <fa-icon icon="running"></fa-icon>
                    <span>{{ 'HEADER.TRAININGS' | translate }}</span>
                </a>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="languageMenuButton" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <fa-icon icon="flag"></fa-icon>
                        <span>{{ 'HEADER.LANGUAGE' | translate }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageMenuButton">
                        <a class="dropdown-item" (click)="setLanguage('hu-HU')">
                            <span>{{ 'HEADER.LANG_HU' | translate }}</span>
                        </a>
                        <a class="dropdown-item" (click)="setLanguage('en-US')">
                            <span>{{ 'HEADER.LANG_EN' | translate }}</span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="accountMenuButton" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <fa-icon icon="user"></fa-icon>
                        <span>{{ 'HEADER.PROFILE' | translate }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountMenuButton">
                        <a class="dropdown-item" [routerLink]="['admin', 'management']" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.PROFILE' | translate }}</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="['articles', 'new']" (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.CHANGE_PASSWORD' | translate }}</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="['trainings', 'new']" (click)="collapseNavbar()">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.LOGIN' | translate }}</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="['admin', 'mail-sending']" (click)="collapseNavbar()">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.LOGOUT' | translate }}</span>
                        </a>
                        <a class="dropdown-item" [routerLink]="['admin', 'mail-sending']" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span>{{ 'HEADER.SIGNUP' | translate }}</span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</nav>


