$primary-background-color: #000000;
$primary-color: #fd7e14;
$primary-color-light: #fdae14;

$background-color: #EEEEEE;


// 360px
$bigger-mobile-width: 22.5em;

// 768px
$small-tablet-width: 48em;

// 992px
$middle-tablet-width: 62em;

// 1025px
$big-tablet-width: 64.0625em;

// 1200px
$desktop-width: 75em;

// 1400px
$big-desktop-width: 87.5em;

$laptop-height: 768px;
