<div class="home">
  <div class="row">

    <div class="col-lg-9">
      <router-outlet name="articles"></router-outlet>
      <timeline></timeline>
    </div>

    <div class="col-lg-3 float-left not-visible-on-mobile">
      <div class="container">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmartoskondi&tabs=timeline%2C%20events%2C%20messages&width=340&height=700&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="400" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</div>
