@import "variables";

.message-box {
    position: absolute;
    top: 72px;
    margin: 12px;
    padding: 16px;
    height: auto;
    width: auto;
    max-width: 400px;
    background-color: $primary-background-color;
    color: $primary-color;

    border-radius: 6px;
    opacity: 80%;

}
