<div class="container-fluid">
    <div class="row">
        <div class="centered">
            <h2>{{ 'CHANGE_PASSWORD.PAGE_TITLE' | translate }}</h2>
            <hr>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="currentPassword">
                            {{ 'CHANGE_PASSWORD.CONTROL_NAMES.OLD_PASSWORD' | translate }}
                        </label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                               formControlName="currentPassword">
                        <div
                            *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('currentPassword').errors.required">
                                {{ 'ERROR_MESSAGE.REQUIRED' | translate }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="newPassword">
                            {{ 'CHANGE_PASSWORD.CONTROL_NAMES.NEW_PASSWORD' | translate }}
                        </label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               formControlName="newPassword" maxlength="50">
                        <div
                            *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword').errors.required">
                                {{ 'ERROR_MESSAGE.REQUIRED' | translate }}
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword').errors.minlength">
                                {{ 'ERROR_MESSAGE.PASSWORD_MIN_LENGTH' | translate }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">
                            {{ 'CHANGE_PASSWORD.CONTROL_NAMES.CONFIRM_NEW_PASSWORD' | translate }}
                        </label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               formControlName="confirmPassword">
                        <div
                            *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword').errors.mustMatch">
                                {{ 'ERROR_MESSAGE.PASSWORD_NO_MATCH' | translate }}
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword').errors.required">
                                {{ 'ERROR_MESSAGE.REQUIRED' | translate }}
                            </small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-main">{{ 'BUTTONS.SAVE' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
