<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Kedves <span th:text="${user.firstName}"></span>!</p>
<p>Új edzés írtunk ki a honlapunkon, melyet <a th:href="@{${trainingsUrl}}">itt</a> érhetsz el</p>
<p>Jelentkezz, amíg még van hely! :)</p>

<p>Amennyiben nem szeretnél több értesítő e-mailt kapni, <a th:href="@{${profileUrl}}">itt</a> leiratkozhatsz.</p>
<p>
    <span>Üdvözlettel, </span>
    <br/>
    <span>Martos Kondi Kör</span>
</p>
</body>
</html>
