<div>
  <div class="row justify-content-center m-3">
    <div class="col-md-8">
      <h2>Jelszóváltoztatás</h2>
      <hr>
      <div class="alert alert-success" *ngIf="success" >
        <strong>Sikeres jelszócsere!</strong>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <strong>Hiba történt!</strong> Jelszóváltoztatás sikertelen.
      </div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

        <div class="form-group">
          <label class="form-control-label" for="currentPassword">Jelenlegi jelszó</label>
          <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                 formControlName="currentPassword">
          <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('currentPassword').errors.required">
              Jelszó kitöltése kötelező!
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="newPassword">Új jelszó</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword"
                 formControlName="newPassword" maxlength="50">
          <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('newPassword').errors.required">
              Jelszó kitöltése kötelező!
            </small>
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('newPassword').errors.minlength">
              A jelszónak legalább 8 karakterből kell állnia!
            </small>
          </div>
          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Új jelszó megerősítése</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                 formControlName="confirmPassword">
          <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword').errors.mustMatch">
              A két jelszó nem egyezik!
            </small>
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('confirmPassword').errors.required">
              Jelsző megerősítése kötelező!
            </small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Mentés</button>
      </form>
    </div>
  </div>
</div>
