<div class="row justify-content-center m-1 mt-4">

  <div class="col-lg-8">
    <h2 id="tool-heading">
      <span>Edzések</span>
    </h2>
    <hr>
    <app-notification-displayer></app-notification-displayer>

    <div *ngIf="trainings.length === 0">
      <p>Jelenleg nincs új edzés a láthatáron.. :( Nézz vissza később, vagy iratkozz fel a hírlevélre a <a [routerLink]="['/profile']">profilodon</a>!</p>
    </div>

    <div *ngIf="trainings.length !== 0">
      <div *ngFor="let training of trainings">
        <app-training-item
          [training]="training"
          (trainingDeleted)="onTrainingDelete($event)">
        </app-training-item>
      </div>
    </div>

  </div>
</div>



