@import 'variables';

.btn-primary {
    background-color: $primary-color;
    border: none;

    &:hover {
        background-color: $primary-color-light;
    }

    &:focus {
        background-color: $primary-color-light;
    }
    &:active {
        background-color: $primary-color-light !important;
    }
}

.btn-main {
    margin-top: 30px;
    background-color: $primary-color;
    color: white;
    height: 48px;
    width: 100%;
    border-radius: 30px;

    &:hover {
        color: black;
    }

    @include desktop {
        width: 180px;
    }
}
